[submodule "traversal_project"]
	path = traversal_project
	url = https://github.com/jeronimopenha/traversal_project.git
[submodule "asynchronous_dataflow"]
	path = asynchronous_dataflow
	url = https://github.com/jeronimopenha/asynchronous_dataflow.git
[submodule "cpu_mapping"]
	path = cpu_mapping
	url = https://github.com/canesche/cpu_mapping.git
